page-contact {
    #id {
        background-color: #80a6ec;
        border: 1px solid #e6e9ee;
        border-radius: 2px;
        padding: 5px;
        text-align: center;
    }
    #fName {
        background-color: #97edf0;
        border: 1px solid #e6e9ee;
        border-radius: 2px;
        padding: 5px;
        text-align: center;
    }
    #lName {
        background-color: #97f0d2;
        border: 1px solid #e6e9ee;
        border-radius: 2px;
        padding: 5px;
        text-align: center;
    }
}
